.trophy{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 25%;
    height: 30%;
    left: 35%;
    top: 2%;
}

.info{    
    position: fixed;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 25%;
    height: 30%;
    left: 35%;
    top: 30%;
    text-align: justify;
    text-justify: inter-word;
}