.trophy{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 25%;
    height: 30%;
    left: 55%;
    top: 2%;
}

.info{    
    position: fixed;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 25%;
    height: 30%;
    left: 25%;
    top: 5%;
    text-align: justify;
    text-justify: inter-word;
}

.video-frame{    
    position: fixed;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 40%;
    height: 50%;
    left: 30%;
    top: 40%;
    text-align: justify;
    text-justify: inter-word;
}